# Ignore artifacts:
build
coverage
 node_modules/**
.next/**
out/**
build/**
next-env.d.ts
migrations/**
src/lib/database-generated.types.ts
src/lib/database-generated.types.backup.ts
pnpm-lock.yaml
package.json